{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <h2><a href="/">Home</a></h2>
    <div class="form">
      <h1>Add a person</h1>
      <form method="post" action="/people" id="add-person-form">
        <div class="form-group">
          <label for="personName">Give the person a name</label>
          <input type="name" class="form-control" id="person-name" placeholder="Billy John" name="person-name" required>
        </div>
        <div class="form-group">
          <label for="personHobby">Give the person a hobby</label>
          <input type="hobby" class="form-control" id="person-hobby" placeholder="Kite flying" name="person-hobby" required>
        </div>
        <button type="submit" class="btn btn-default">Create Person</button>
      </form>
    </div>
  </div>

{% endblock %}